.rejectContainer {
  position: relative;
  height: 50vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

.rejectImage {
width: 100%; /* width of container */
height: 100%; /* height of container */
object-fit: cover;
user-select: none;
-webkit-user-drag: none;
}


.rejectText {
  position: absolute;
  text-align: center;
  top: 57%;
  left: 24%;
  color: white;
}

.rejectTextName {
  color: White;
  font-size: 5.5vw;
  margin: 0vw 3.5vw 0vw 0vw;
}

.rejectTextTitle {
color: White;
font-size: 2vw;
margin: 0.5vw;
}
